PryCertificaSIN/Connected Services/ServiceRecepcionComprasSIN/ServicioRecepcionCompras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="https://siat.impuestos.gob.bo/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:tns="https://siat.impuestos.gob.bo/ServicioRecepcionCompras" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioRecepcionCompras" targetNamespace="https://siat.impuestos.gob.bo/ServicioRecepcionCompras" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="https://siat.impuestos.gob.bo/" location="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioRecepcionCompras?wsdl=ServicioFacturacion.wsdl" />
  <wsdl:types />
  <wsdl:binding name="ServicioRecepcionComprasSoapBinding" type="ns1:ServicioFacturacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="verificarComunicacion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="verificarComunicacion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="verificarComunicacionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validacionRecepcionPaqueteCompras">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validacionRecepcionPaqueteCompras">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validacionRecepcionPaqueteComprasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recepcionPaqueteCompras">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="recepcionPaqueteCompras">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="recepcionPaqueteComprasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="anulacionCompra">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="anulacionCompra">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="anulacionCompraResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmacionCompras">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="confirmacionCompras">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="confirmacionComprasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaCompras">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="consultaCompras">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultaComprasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRecepcionCompras">
    <wsdl:port name="ServicioFacturacionPort" binding="tns:ServicioRecepcionComprasSoapBinding">
      <soap:address location="https://pilotosiatservicios.impuestos.gob.bo/v2/ServicioRecepcionCompras" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>